<body>
 <%= flash[:notice] %>
 <h2>Book was successfully created.</h2>

 <p class="title">
  <strong>title:</strong><%= @book.title %>
 </p>

 <p class="body">
  <strong>body:</strong><%= @book.body %>
 </p>

 <%= link_to "Edit", book_edit_path(@book.id) %>
 <a class="back" href="/books">Back</a>

</body>