<body>
 <%= flash[:notice] %>

 <p class="title">
  <strong>title:</strong><%= @book.title %>
 </p>

 <p class="body">
  <strong>body:</strong><%= @book.body %>
 </p>

 <%= link_to "Edit", edit_book_path(@book.id) %>
 <a class="back" href="/books">Back</a>

</body>