<body>
 <div class="title">
   <h1>
     ようこそ<br>
     <strong>Bookers</strong> へ!
   </h1>

 </div>

 <div class="text">
   <p>
    <strong>Bookers</strong> では、さまざ<br>
    まな書籍に関するあなた<br>
    の意見や
   </p>
 </div>

 <div class="text1">
   <p>
    印象を共有し交換するこ<br>
    とができます
   </p>
 </div>

 <p class="bton">
   <a href="/books">start</a>
 </p>
</body>